@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
.box{
    border: 1px solid;
  padding: 10px;
  margin: 10px;
  
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}